@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive, sans-serif;
}

body {
  font-family: 'Caveat', cursive, sans-serif;
  align-items: center;
  background: #0e03f6;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('./images/background.jpg');
  background-size: cover;
}

img {
  width: 5vw;
}

.cards {
  cursor: pointer;
}

.card img.cardsOff {
  display: none;

}

.active img.cards {
  display: none;
}

.matched {
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.active img.cardsOff {
  display: initial;
}

.inactive {
  display: none;
  width: 5vw;
}

button {
  position: absolute;
  background: teal;
  color: white;
  font-size: 2rem;
  left: 5%;
  top: 2%;
  height: 50px;
  width: 150px;
  border: 2px solid springgreen;
  border-radius: 30%;
  cursor: pointer;
}

button:active {
  background: black;
  color: white;
  border: 2px solid red;
}

.title {
  color: black;
  font-size: 3rem;
  position: absolute;
  left: 44%;
  top: 2%;
}

.score {
  color: white;
  font-size: 3rem;
  font-family: 'Patua One', sans-serif;
  position: absolute;
  left: 90%;
  top: 2%;
}

.timer {
  color: black;
  font-size: 3rem;
  font-family: 'Patua One', sans-serif;
  position: absolute;
  left: 44%;
  top: 2%;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  padding: 60px 10px 10px 20px;
  pointer-events: none;
}

.card {
  padding: 20px 0px 0px 20px;
}

.cardsMatch {
display: flex;
position: absolute;
flex-direction: column;
justify-content: space-between;
left: 40%;
top: 25%;
align-self: center;
height: 25vw;
width: auto;
z-index: 1;
animation: match 0.7s ease-in-out;
animation-fill-mode: forwards;
}

.card img.cardsMatch {
  display: initial;
}

.game-over {
  position: absolute;
  color: black;
  font-size: 6rem;
  left: 35%;
  top: 35%;
  display: none;
}

.win {
  position: absolute;
  color: black;
  font-size: 6rem;
  left: 25%;
  top: 35%;
  display: none;
  z-index: 2;
}


@keyframes match {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 40%;
    left: 50%;
  }
  12.5% {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 40%;
    left: 50%;
  }
  25% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 40%;
    left: 50%;
  }
  37.5% {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 40%;
    left: 50%;
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 40%;
    left: 50%;
  }
  62.5% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 40%;
    left: 50%;
  }
  75% {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 40%;
    left: 50%;
  }
  87.5% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: 40%;
    left: 50%;
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg);
    top: -100%;
    left: 50%;

  }
}



@media only screen and (max-width: 768px) {
  h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }

 .keyboard {
    margin-auto;
    position: relative;
    height: 60vh;
    width: 100vw;
    left: 20%;
}

}
